@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
* {
    box-sizing: border-box;
}

main {
    /* Full height */
    height: 100%;
    /* Full width */
    width: 100%;
    /* Background image */
    background: url("../images/amy-luo-unsplash.jpg") no-repeat center center fixed;
    /* Center and scale the image nicely */
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 100px;
    border-top-style: solid;
    border-top-color: lightgray;
    border-width: 3px;
}

h1 {
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px;
    background-color: #B17CA5;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 0;
    white-space: nowrap;
}

div.navWrapper {
    padding-top: 1rem;
}

nav {
    padding-top: 10px;
    text-align: right;
}

a {
    color: gray;
    font-family: 'Montserrat Alternates', sans-serif;
}

.divider {
    padding-left: 20px;
}

.divPadding {
    padding-left: 10%;
    padding-right: 10%;
}

.divWidth {
    width: auto;
    background-color: white;
}

h2 {
    padding-left: 30px;
    padding-top: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #B17CA5;
    font-size: 36px;
    font-weight: bold;
}

hr {
    margin-left: 3%;
    margin-right: 3%;
    background-color: lightgray;
    height: 3px;
    border: 0;
}

.image-about {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    padding-left: 35px;
}

p.bioTop {
    margin-left: 45px;
    padding-right: 45px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 30px;
    color: gray;
}

p.bioMiddle {
    padding-left: 45px;
    margin-right: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 30px;
    color: gray;
}

p.bioBottom {
    margin-left: 45px;
    margin-right: 30px;
    padding-bottom: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 30px;
    color: gray;
}


/* Portfolio page */

.container {
    position: relative;
    color: white;
}

.portfolioPadding {
    padding-left: 3%;
}

.imagePortfolio {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    padding-bottom: 35px;
}

h5 {
    text-align: center;
}

footer {
    background-color: gray;
    text-align: center;
    height: 70px;
    border-top-style: solid;
    border-top-color: #B17CA5;
    border-width: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}